<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Ombe"
        tools:targetApi="31">

<!--this my testing map api for testloginnaren@gmail.com-->
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="AIzaSyBvFdTwJmpQpaYwyWqP3u3yzeOswtnCnqw" />-->


<!--this is google map api for google map map api-->
       <!-- <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAbPUTxeDTnaihCKmLXCMKrrUT3HNLQW6w">
        </meta-data>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApb9gz4Oj-L0-xDAE7VYGaAu0LAMkf4EY"/>

        <activity
            android:name=".activity.login_signin_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Welcome"
            android:exported="false" />
        <activity
            android:name=".activity.Onboarding"
            android:exported="false" />
        <activity
            android:name=".activity.home"
            android:exported="false" />
        <activity
            android:name=".activity.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.createGroup_activity" />


        <activity android:name=".activity.getGroup_code" />


        <activity
            android:name=".activity.groupPage_Activity"
            android:exported="true"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activity.joinGroup_Activity"/>
        <activity android:name=".activity.editGroup_activity"/>

        <activity android:name=".activity.SessionActivity"/>

    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

</manifest>